/*
Color Key:
--------------
	gold: #9D8235; (site customer color for fonts and mouse overs tesxt links)
	Light Gray: #F8F8F8;
	Blue: #07AAB0;
*/	
* {
	margin: 0;
	padding: 0;
}
/* General Styles */


body{
	background : #FFFFFF;
	font-family: 'Helvetica', Arial, san-serif;
	font-weight: normal;
	text-align: left;
	color: #000000;
}

body,
html {
	height: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #9D8235;
}

.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.site-container {
	width: 1400px;
	height: 100%;
	background: #FFFFFF;
	margin: 0 auto;
	padding: 15px 5px 0 5px;
}

/* Header Tags */

.header {
	margin-bottom: 15px;
	padding-top: 20px;
	border-top: 5px solid #9D8235;
	width:100%;
	text-align: center;
}

.logo {
	margin: 5px auto;
	padding: 20px;
}

.header-banner {
	padding: 0px 5px 0 5px;
	width: 100%;
}

.banner {
	width: 100%;
	margin: 5px auto;
}

.navigation {
	clear: both;
	width:40%;
	margin: 5px auto;
	border-top: 1px solid rgba(157,130,53,.25);
}

.nav-item {
	font-family: Georgia, times new roman;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	margin: 5px 5px;
	padding: 27px;
	text-transform: uppercase;
	float:left;
}

.content {
	clear: both;
	width: 920px;
	margin: 0 auto;
}

.content:after {
	content: '';
	display: table;
	clear: both;
}

.outpost-menu {
	clear:both;
	width: 100%;
	margin: 5px auto;
}

.column-left,
.column-right {
	width: 48%;
	float: left;
}

.column-left {
	margin-right: 4%;
}

.menu-heading {
	font-family: Georgia, times new roman;
	font-style: italic;
	text-align: center;
	font-size: 28px;
	line-height: 28px;
	margin: 15px;
	padding: 15px;
	color: #9D8235;
}

.menu-item {
  width: 45%;
  height: 80px;
  float: left;
  margin: 5px;
}

.menu-item-title{
	font-family: 'Helvetica', Arial, san-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #000000;
	margin: 10px;
	padding: 10px:
}

.menu-item-price {
	font-family: 'Helvetica', Arial, san-serif;
	font-size: 16px;
	line-height: 16px;
	font-style: italic;
	text-align: center;
	color: #000000;
}

.footer {
	border-top: 1px solid #9D8235;
	width:100%;
	background: #F0F0F0;
	text-align: center;
}

.logo-medium {
	width: 176px;
	height: 95px;
	margin: 5px auto;
	padding: 10px;
}

/* Content Styles  */

h2 {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top: 2px solid #333333;
	border-bottom: 1px dotted #333333;
	padding: 10px 0;
	margin-bottom: 20px;
}
	
h3 {
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	margin: 25px 0 5px 0;
}







































