/* General Styles */

* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #e3c796;
}

a {
  text-decoration: none;
  cursor: pointer !important;
}

hr { 
  border: 0; 
  height: 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}

h1 {
  width: 50px;
  background: #14BDD1;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  display: inline-block;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 30px;
  color: #222222;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  width:100%;

}
/* Site Divisions */

#site-container {
	width: 980px;
	background: #FFFFFF;
	margin: 0 auto;
}

/* Header Tags */

#site-header {
  clear: both;
	margin-bottom: 5px;
	padding-top: 5px;
	width:100%;
}

.logo {
	float: left;
	width: 40%;
	margin: 5px;
	padding: 5px;
}
.navigation {
	float: right;
	width: 50%;
	margin: 5px;
	padding: 5px;
}

.button-wrapper {
  width: 100%;
  margin: 30px;
}
.button {
  width: 100px;
  height: 35px;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px; 
  text-align: center;
  line-height: 35px;
  font-size: 12px;  
  font-weight: bold;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.non-active {
  color: #e3c796;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #e3c796;
}

.non-active:hover {
  color: #FFFFFF;
  background: #e3c796;
}

.active {
  color: #FFFFFF;
  border-radius: 35px;
  background: #e3c796;
}
.active:hover {
  border-radius: 5px;
  background: #e3c796;
}

/* Content */

#site-banner {
	clear: both;
  width: 100%;
 	margin: 25px auto;
}

/* Content */

#site-content {
	  clear: both;
  	width: 100%;
  	margin-top: 10px;
  	margin-bottom: 10px;
  	border-top: 1px solid rgba(0,0,0,.25);
}

.about-us {
  width: 95%;
  margin: 10px auto;
}

.info {
  list-style:none;
  padding-left:0;
}

.info-box {
  color: #FFFFFF;
  background: transparent;
  width: 300px;
  height: 300px;
  display: block;
  margin: 5px;
  float: left;
  border: 2px solid #e3c796;
  border-radius: 20px;
}

.info-heading {
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 30px;
  color: #222222;
  display: inline-block;
  text-align: center;
  margin-top: -2px;
  width:100%;
  background-color:#e3c796;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.info-text {
	font-size: 16px;
  	font-family: sans-serif;
  	line-height: 24px;
  	color: #000000;
  	display: inline-block;
  	text-align: left;
 	margin: 5px;
}

#content {
  width: 975px;
  background:transparent;
  margin: 0 auto;
  padding: 0px 0px;
}

.return {
  float:right;
}

#section-1, #section-2, #section-3, #section-4 #section-5{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  width: 100%;
  margin: 5px auto;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

#section-last {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 400px;
  width: 100%;
  margin: 5px auto;
}

/* Footer */

#site-footer {
	clear: both;
	width: 100%;
	margin: 25px auto;
	border-top: 1px solid rgba(0,0,0,.25);
}

.footer-nav-container {
  width: 450px;
  margin: 15px auto;
}

#content-left {
  float: left;
  width: 15%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 300px;
  padding-left: 30px;
}

#content-right {
  width: 80%;
  float: right;
}

.footer-link {
  color: #e3c796;
  width: 75px;
  height: 30px;
  float: left;
  margin-right: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
}

.footer-link:visted {
  color: #e3c796;
}

.footer-link:hover {
  color: #333;
}
















